#t {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40pt;
    width: 412px;
    height: 100px;
    outline: none;
    border: none;
    text-align: right;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    background-color: transparent;
    user-select: text;
}

input[type="button"], button {
    width: 60px;
    background-color: transparent;
    border: solid 1px gray;
    outline: none;
    height: 60px;
    font-size: 20px;
    margin: 2px;
    border-radius: 9px;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
}

#equ, .equ {
    background-color: black !important;
    border: none !important;
    color: white !important;
}

input[type="button"]:hover, button:hover {
    background-color: #faa0a0;
    border: none;
    cursor: pointer;
}

#t::selection {
    background-color: black;
    color: white;
}

#t {
    margin-top: 200px;
    margin-bottom: 20px;
    height: 50px;
    background-color: #eaeaea;
    position: center;
    width: 530px;
}

.gj {
    display: inline-block;
}

body {
    background-color: #fcfcfc;
    text-align: center;
    margin: auto;
    width: fit-content;
    justify-content: center;
}

#mxs {
    font-size: 18pt;
    color: gray;
}

* {
    user-select: none
}

hr {
    border: solid gray;
    border-width: 1px 0 0 0;
}
